.bg-white{
    background-color: red;
}

.custom-modal-style{
    width:1000px;
}

.nav-link{
    color:white;
}

.nav-tabs-navigation {
    text-align: center;
    margin-bottom: 30px;
}

.nav-tabs-wrapper {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: 1.25%;
  margin-right: 1.25%;
  position: relative;
  width: auto;
}

.transparent-button{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}